* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  display: ruby-base-container;
  justify-content: center;
  align-items: center;
  user-select: none;
  background: #ecf0f3;
}

.container1 {
  margin-left: 1.8em;
  padding: 42px;
  border-radius: 2px;
}

.row1 button {
  width: 60px;
  height: 30px;
  font-size: 14px;
  border: none;
  outline: none;
  margin: 2px;
  border-radius: 0px;
}

.display {
  width: max-content;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  background: #ecf0f3;
}

#screen {
  width: 350px;
  height: 60px;
  text-align: right;
  border: none;
  background: #ecf0f3;
  font-size: 35px;
  outline: none;
}

#lbut {
  margin-right: 220px;
}

#blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#tri {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}


/*Simple number*/
#bold {
  font-weight: bold;
}

#back {
  background: #385fdf;
}
/*Dropdown */
.row2 {
  display: flex;
  margin-right: 400px;
  text-decoration: none;
  margin-left: 400px;
}

.dropdown-toggle {
  text-decoration: none;
  color: black;
}

.dropdown-toggle:hover {
  text-decoration: none;
  color: black;
}

.dropdown-toggle:active {
  text-decoration: none;
  color: black;
}

.dropdown-toggle:visited {
  text-decoration: none;
  color: black;
}
